<section class="container">
  <div class="input-box">
    <h2>{{restaurant.name}}</h2>
    <form id="edit-restaurant-form">
      <div class="user-box">
        <input type="text" name="name" id="restaurant-name" size="30" required>
        <label>Restaurant Name:</label>
      </div>
      <div class="user-box">
        <input type="url" name="image" id="restaurant-image" pattern="https://.*" size="30" required>
        <label>Restaurant Image:</label>
      </div>
      {{#each menus}}
      <h2> {{this.title}}</h2>
      <div class="user-box">
        <input class="menu-title-class" type="text" name="menu-title" placeholder="Name.... " size="30">
        <label>Menu Title:</label>
      </div>

      <dl>
        {{#each this.items}}
        <div>
          <dt>{{this.name}}</dt>
          <dd>£{{this.price}}</dd>
        </div>
        {{/each}}
      </dl>

      {{/each}}

    </form>
    <form id="delete-restaurant-form" action="/restaurants/{{restaurant.id}}/delete" method="GET"></form>


    <div class="input-button">
      <button onclick="restaurantForm({{restaurant.id}});"><B>Update</B></button>
      <button type="submit" form="delete-restaurant-form"> <B>Delete</B> </button>
    </div>

  </div>
</section>