<div id="navbar">
    <a class="active" href="/">Home</a>
</div>

<div class="hero-image">
    <h1 id="hero-title">{{restaurant.name}}'s Menus</h1>
</div>

<script>
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

{{#each menus}}
<h1>{{this.title}}</h1>
<section>
    {{#each this.items}}
    <article class="restaurant-preview">
        <header></header>
        <a>
            <img class="restaurant-image" src="{{this.image}}">
            <h2> {{this.name}} - £{{this.price}}</h2>
        </a>
        <footer></footer>
    </article>
    {{/each}}
    <article>
        <a><img class="image-add" src="/images/plus-icon.png" alt="Submit" width="48" height="48"></a>
    </article>
</section>
{{/each}}

<h1>Reviews</h1>
<section>
     <article >
      <div class="reviews">
          {{#each reviews}}
              <h3>{{this.name}}</h3>
              <p>"{{this.comment}}"</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
          {{/each}}
      </div>
    </article>
    
<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
</script>

<button class="open-button" onclick="openForm()">Add Review</button>
<div class="form-popup" id="myForm">
  <form class="form-container" action="/restaurants/{{restaurant.id}}/review" method="POST">
    <h1>Review</h1>

    <label for="name"><b>Name</b></label>
    <input type="text" name="name" minlength="2" maxlength="30" required>
    <label for="number"><b>Rating (Between 1 and 5)</b></label>
    <input type="number" name="rating"  min="1" max="5" required>
    <label for="comment"><b>Comment</b></label>
    <input type="text" name="comment" required>

    <button type="submit" class="btn">Add Rating</button>
    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
</section>